<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold pb-3 mb-3">Research</h3>
    <p>My primary research interests are arithmetic geometry and non-commutative algebra. In my research I have used field patching techniques and generic Galois theory to construct division algebras with certain Galois maximal subfields over semi-global fields (function fields of curves over complete discretely valued fields). Field patching is a powerful tool which can be used to build algebraic structures over these fields by patching together compatible structures over a carefully chosen system of their overfields.</p>
	<p>I am currently in the process of writing-up the results from this project for publication. I have given talks on my research and related background topics, some of which were recorded.</p>
  </div>
  <div>	
	<h5>Talks</h5> 
	<ul>
	<li> <a href="https://meetings.ams.org/math/spring2023c/meetingapp.cgi/Paper/23214">"Galois Extensions in Division Algebras Over Semi-Global Fields"</a> (April 2023) at the AMS Special Session on Brauer Groups in Algebraic Geometry and Arithmetic </li>
	<li> <a href= "https://sites.math.rutgers.edu/~weibel/algebra.seminar.html#32823">"Admissibility of Groups over Semi-Global Fields in the 'Bad Characteristic' Case"</a> (March 2023) at the Rutgers Algebra Seminar </li> 
	<li> "Admissibility of Groups: An Application of Field Patching" (May 2022) at the Graduate Student Conference in Algebra, Geometry, and Topology at Temple University</li>
	<li> <a href="https://sites.math.rutgers.edu/~weibel/algebra.seminar.html#42022">"Exploring the Admissibility of Groups and an Application of Field Patching"</a> (April 2022) at the Rutgers Algebra Seminar </li>
	<ul>
  </div>
  <div>	
	<h5>Recorded Talks</h5> 
	<ul>
	<li> <a href="https://www.youtube.com/watch?v=Lz4-7iXoD04">"Admissibility Problems for Finite Groups"</a> (February 2022) at the Rutgers Graduate Algebra and Representation Theory Seminar (GARTS)</li> 
	<li> <a href="https://www.youtube.com/watch?v=bzQFw9NUkC0">"Hunting for Division Algebras in Representations of Finite Groups"</a> (October 2021) at GARTS</li>
	<li> <a href="https://www.youtube.com/watch?v=QZzCyt7C1RA">"The Brauer Group through the Lens of Crossed Product Algebras"</a> (March 2021) at GARTS</li>
	<ul>
  </div>
</div>
