<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold pb-3 mb-3">Research</h3>
    <p>My primary research interests are arithmetic geometry and non-commutative algebra. I am especially interested in the different ways that classical invariants from number theory, such as the discriminant and the different, have been generalized to higher dimensional rings and non-commutative settings (such as division algebras and orders). In my research I have used these generalized invariants along with knowledge of the Brauer group of certain fields, to make progress on a problem which aims to better understand the subfields of division algebras over a special class of fields. This class of semi-global fields can be associated to curves over complete discrete valuation rings and the geometry of these curves can be leveraged to study algebraic structures over these fields (such as central simple algebras) using local-global principles and field patching techniques.</p>
	<p>I am currently in the process of completing this project and writing-up the results. I have given talks on my research and related background topics, some of which were recorded.</p>
  </div>
  <div>	
	<h5>Talks</h5> 
	<ul>
	<li> "Admissibility of Groups over Semi-Global Fields in the 'Bad Characteristic' Case" (upcoming, October 2022) at the Rutgers Algebra Seminar </li> 
	<li> "Admissibility of Groups: An Application of Field Patching" (May 2022) at the Graduate Student Conference in Algebra, Geometry, and Topology at Temple University</li>
	<li> "Exploring the Admissibility of Groups and an Application of Field Patching" (April 2022) at the Rutgers Algebra Seminar </li>
	<ul>
  </div>
  <div>	
	<h5>Recorded Talks</h5> 
	<ul>
	<li> <a href="https://www.youtube.com/watch?v=Lz4-7iXoD04">"Admissibility Problems for Finite Groups"</a> (February 2022) at the Rutgers Graduate Algebra and Representation Theory Seminar (GARTS)</li> 
	<li> <a href="https://www.youtube.com/watch?v=bzQFw9NUkC0">"Hunting for Division Algebras in Representations of Finite Groups"</a> (October 2021) at GARTS</li>
	<li> <a href="https://www.youtube.com/watch?v=QZzCyt7C1RA">"The Brauer Group through the Lens of Crossed Product Algebras"</a> (March 2021) at GARTS</li>
	<ul>
  </div>
</div>
