---
layout: default
---
<h3 class="fw-bold pb-3 mb-3">Other</h3>

<div class="row mb-5">
    <h5 class="fw-bold">Learning Seminars</h5>
	<p> I like organizing and participating in reading seminars that serve to create community for graduate students with a shared goal of studying a particular topic. The format is typically for attendants take turns preparing and presenting a portion of a paper or textbook that the group wants to study together. Last year I participated in and organized a couple of these seminars at Rutgers University and at the University of Pennsylvania. The topics and references we used in each of these is listed below.</p>
		<ul>
			<li>Algebraic Number Theory following Neukirch (Rutgers)</li> 
			<li>Algebra and Geometry Learning Seminar (Rutgers)</li>
			<ul>
				<li> Fall 2022 topic: Brauer groups following sections from a variety of textbooks including Gille and Szamuely, Pierce, and Demeyer and Ingraham (Co-Organizer)</li> 
				<li> Spring 2022 topic: motivic cohomology and homotopy theory following <a href="https://dornsife.usc.edu/assets/sites/1176/docs/PDF/MATH599.S16.pdf">these notes by Aravind Asok</a> 
				<li> Fall 2021 topic: K-theory following <a href="https://sma.epfl.ch/~hessbell/topo_alg/Quillen.pdf">Quillen's paper</a>
			</ul>
			<li>Field patching and admissibility seminar (UPenn) which followed <a href="https://swc-math.github.io/aws/2012/2012HarbaterHartmannNotes.pdf"> David Harbater and Julia Hartmann's notes from the Arizona Winter School</a> in addition to some of their papers on the topic.(Organizer)</li>
			<li>Azumaya Seminar on the Brauer-Azumaya and Brauer-Grothendieck group (UPenn) which followed sections in chapters 2-4 in Alexei Skorobogatov and Jean-Louis Colliot-Thélène's book. 
		</ul> 
</div>