---
layout: default
---
<h3 class="fw-bold pb-3 mb-3">Teaching</h3>
{{ content }}

<div class="row g-5 mb-5">
    <div class="col-md-7">
    <h5 class="fw-bold">Math Courses Taught</h5>
    <ul>
      <li><a href="https://www.math.rutgers.edu/academics/undergraduate/courses/954-01-640-300-introduction-to-mathematical-reasoning">Introduction to Mathematical Reasoning</a> (Instructor)</li>
      <ul style="list-style: none;">
      <li> Student Survey Results: <a href="https://yaeldavidov.github.io/teaching/su22.pdf" target="_Blank">Summer 2022</a>, <a href="https://yaeldavidov.github.io/teaching/su20.pdf" target="_Blank">Summer 2020</a>
      </ul>
      <li><a href="https://www.math.rutgers.edu/academics/undergraduate/courses/952-01-640-291-honors-calculus-iii">Honors Calculus III</a> (TA)</li>
      <ul style="list-style: none;">
      <li> Student Survey Results: <a href="https://yaeldavidov.github.io/teaching/fa21.pdf" target="_Blank">Fall 2021</a></li>
      </ul>
      <li><a href="https://www.math.rutgers.edu/academics/undergraduate/courses/949-01-640-251-multivariable-calculus">Multivariable Calculus</a> (TA)</li>
      <ul style="list-style: none;">
      <li> Student Survey Results: <a href="https://yaeldavidov.github.io/teaching/sp21.pdf" target="_Blank">Spring 2021</a></li>
      </ul>
      <li><a href="https://www.math.rutgers.edu/academics/undergraduate/courses/1537-01-640-123-prep-for-calc-i">Preparation for Calculus I</a> (Instructor)</li>
      <ul style="list-style: none;">
      <li> Student Survey Results: <a href="https://yaeldavidov.github.io/teaching/sp20.pdf" target="_Blank">Spring 2020</a></li>
      </ul>
      <li><a href="https://www.math.rutgers.edu/academics/undergraduate/courses/948-01-640-250-introductory-linear-algebra">Introductory Linear Algebra</a> (TA)</li>
      <ul style="list-style: none;">
      <li> No student ratings available.
      </ul>
      <li><a href="https://www.math.rutgers.edu/academics/undergraduate/courses/941-01-640-151-calculus-i-for-the-mathematical-and-physical-sciences">Calculus I for the Mathematical and Physical Sciences</a> (TA)</li>
      <ul style="list-style: none;">
      <li> Student Survey Results: <a href="https://yaeldavidov.github.io/teaching/sp19.pdf" target="_Blank">Spring 2019</a></li>
      </ul>
      <li><a href="https://www.math.rutgers.edu/academics/undergraduate/courses/942-01-640-152-calculus-ii-for-the-mathematical-and-physical-sciences">Calculus II for the Mathematical and Physical Sciences</a> (TA)</li>
      <ul style="list-style: none;">
      <li> Student Survey Results: <a href="https://yaeldavidov.github.io/teaching/fa18.pdf" target="_Blank">Fall 2018</a></li>
      </ul>
    </ul>
  </div>
  <div class="col-md-5">
    <img src="{{ site.github.url }}/assets/img/contact.jpeg" alt="Luna" width="100%">
    <p align="right"> A picture of my dog, Luna.</p>
  </div>
</div>

<div class="row g-5 mb-5">
  <div>
    <h5 class="fw-bold">Work with the TA Project</h5>
    <p> Since 2019 I have been a program coordinator. In this role I have led professional development workshops for other TAs from across all disciplines at Rutgers. Some titles of workshops I have led include "Engaging a Quiet Classroom", "Supporting Students with Diverse Academic Preparation", and "The Role of the TA".</p>
    <p> In this role I have also had the opportunity to co-teach <a href="https://grad.rutgers.edu/professional-development/teaching-skills-ta-project/seminar-courses"> Introduction to Online and Hybrid Teaching</a> in Spring 2021 and Spring 2022. This course aims to prepare graduate students to teach online and hybrid courses.</p> 
  </div>
</div>

<!-- Maybe add something about orientation and even embed a video or something here?-->
