---
layout: default
---
<h3 class="fw-bold pb-3 mb-3">Teaching</h3>
{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h5 class="fw-bold">Math Courses Taught</h5>
    <ul>
      <li><a href="https://www.math.rutgers.edu/academics/undergraduate/courses/954-01-640-300-introduction-to-mathematical-reasoning">Introduction to Mathematical Reasoning</a> (Instructor)</li>
      <ul style="list-style: none;">
      <li> Survey results that I can't link: Summer 2022, Summer 2020</li>
      </ul>
      <li><a href="https://www.math.rutgers.edu/academics/undergraduate/courses/952-01-640-291-honors-calculus-iii">Honors Calculus III</a> (TA)</li>
      <ul style="list-style: none;">
      <li> Survey results that I can't link: Fall 2021</li>
      </ul>
      <li><a href="https://www.math.rutgers.edu/academics/undergraduate/courses/949-01-640-251-multivariable-calculus">Multivariable Calculus</a> (TA)</li>
      <ul style="list-style: none;">
      <li> Survey results that I can't link: Spring 2021</li>
      </ul>
      <li><a href="https://www.math.rutgers.edu/academics/undergraduate/courses/1537-01-640-123-prep-for-calc-i">Preparation for Calculus I</a> (Instructor)</li>
      <ul style="list-style: none;">
      <li> Survey results that I can't link: Spring 2020</li>
      </ul>
      <li><a href="https://www.math.rutgers.edu/academics/undergraduate/courses/948-01-640-250-introductory-linear-algebra">Introductory Linear Algebra</a> (TA)</li>
      <ul style="list-style: none;">
      <li> Survey results that I can't link: Fall 2019</li>
      </ul>
      <li><a href="https://www.math.rutgers.edu/academics/undergraduate/courses/941-01-640-151-calculus-i-for-the-mathematical-and-physical-sciences">Calculus I for the Mathematical and Physical Sciences</a> (TA)</li>
      <ul style="list-style: none;">
      <li> Survey results that I can't link: Spring 2019</li>
      </ul>
      <li><a href="https://www.math.rutgers.edu/academics/undergraduate/courses/942-01-640-152-calculus-ii-for-the-mathematical-and-physical-sciences">Calculus II for the Mathematical and Physical Sciences</a> (TA)</li>
      <ul style="list-style: none;">
      <li> Survey results that I can't link: Fall 2018</li>
      </ul>
    </ul>
  </div>
</div>
